/*{
    padding: 0px;
    margin: 0px;
}*/

body {
    font-family: monospace;
    font-size: 14px;
    /*max-width: 900px;
    width: 90%;
    margin: 0 auto;
    margin-left: -0.75rem;
    margin-right: -0.75rem;*/
}

a:link{
  color: white;
}
a:visited{
  color:white;
}
a:hover{
  color: black;
}
a:active{
  color: green;
}
ul{
  display: block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-width: 900px;
  margin: auto;
  width: 100%;
  height: 60px;
  margin-left: 192px;
  /*height: 100%;*/
  background-color: black;
  /*float: left;*/
  position: auto;
  box-shadow: 0px 4px 4px rgb(105, 105, 105);
}
li{
  float: right;
}
li a{
  text-decoration: none;
  display: block;
  background-color: black;
  padding: 19px;
  /*border: 1px solid black;*/
}
li a:hover{
  background-color: rgb(149, 177, 195);
}

.content{
  max-width: 900px;
  margin: auto;
  position: auto;
}
.faixa {
    height: 50px;
}

.post {
  margin-top: 60px;
  border-bottom: 15px;
  padding: 10px;
  background-color: rgb(149, 177, 195);
  text-align: justify;

}

.post2 {
  margin-top: 20px;
  border-bottom: 15px;
  padding: 10px;
  background-color: rgb(149, 177, 195);
  text-align: justify;

}
.paragrafo, .data{
  font-family: monospace;
  color: #fff;
}
.autor{
  font-family: monospace;
  color: #fff;
  text-align: right;
}
.texto{
  font-family: monospace;

}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 200px;
    width: 100%;
    height: 100%;
    animation-name: aparecer;
    animation-duration: 1s;
    display: none;
}
.conteudo-modal{
    text-align: center;
    background-color: #3f51b5 ;
    margin-top: -10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
    height: 460px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}
.fechar{
    float: right;
    position: relative;
    right: 8px;
    top: 8px;
    font-size: 1.5em;
    cursor: pointer;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.adicionar{
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}
#botao{
  float: right;
  background-color: #fff;
  font-family: monospace;
  padding: 15px;
  font-size: 20px;
  color: black;
  border-radius: 5px;
}
#botao:hover{
  cursor: pointer;
  background-color: #f4bdf7;
  color: ##ba63c6;

}
.atualizar{
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}
#att{
  float: left;
  border-bottom: 20px;
  border-radius: 40px;
  background-color: #fff;
}

#att:hover{
  cursor: pointer;
  background-color: #f4bdf7;
  color: #fff;

}
.nome{
  font-family:"	Lucida Console";
  margin-left: 10px;
  margin-top: 5px;
  float: left;
  width: 600px;
  height: 30px;
}
.publicou{
  font-family:"	Lucida Console";
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  width: 600px;
  height: 300px;
}
.botao-post{
  font-family:"	Lucida Console";
  margin-top: 330px;;
  margin-left: -122px;
  background-color: #fff;
  color: #ba63c6;
  font-size: 15px;
}
.botao-post:hover{
  background-color: #f4bdf7;
  color: #ba63c6;
}
.fechar{
  font-family:"	Lucida Console";
  color: #9b0ea4;
  margin-left: -40px;
  margin-bottom: 15px;

}
.fechar:hover{
  color: purple;
}

#publicar {
  float: right;
  background-color: #fff;
  font-family: monospace;
  padding: 15px;
  width: 150px;
  height: 30px;
  font-size: 15px;
  color: black;
  margin-right: 10px;
  border-radius: 5px;
}
#publicar:hover{
  cursor: pointer;
  background-color: #f4bdf7;
  color: ##ba63c6;
}
/*
li:last-child{
  float:right;
}*/
